<meta-data
    android:name="xposedmodule"
    android:value="true" />
<meta-data
    android:name="xposeddescription"
    android:value="强制截图模块" />
<meta-data
    android:name="xposedminversion"
    android:value="82" />
<meta-data
    android:name="xposed_init"
    android:value="com.lbxq.screen.XscreenModule" />
